global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'email-notifications'

  routes:
    - receiver: 'web.hook'
      matchers:
        - severity="critical"

receivers:
  - name: 'web.hook'
    webhook_configs:
      - url: 'http://127.0.0.1:5001/'
        send_resolved: true

  - name: 'email-notifications'
    email_configs:
      - to: 'sabarsachidananda@gmail.com'
        from: 'Monitoring@gmail.com'
        smarthost: 'smtp.gmail.com:587'
        auth_username: 'snsbr2004@gmail.com'
        auth_identity: 'snsbr2004@gmail.com'
        auth_password: 'towe tuor jrgk ezdc'
        send_resolved: true

inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity="warning"
    equal:
      - alertname
      - dev
      - instance
