
route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: 'email-notifications'

receivers:
  - name: 'email-notifications'
    email_configs:
      - to: 'sabarsachidananda@gmail.com'
        from: 'Monitoring@gmail.com'
        smarthost: 'smtp.gmail.com:587'
        auth_username: 'snsbr2004@gmail.com'
        auth_identity: 'snsbr2004@gmail.com'
        auth_password: 'towe tuor jrgk ezdc'
        send_resolved: true

inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity="warning"
    equal:
      - alertname
      - dev
      - instance
